
<article class="pomodoroOptions">


    <section class="pomodoroOptions__container">
        <div class="pomodoroOptions__sliderContent">
            <p class="pomodoroOptions__title">Work</p>
            <p class="pomodoroOptions__time">
                <span> {{options.optionvalueHour}} : 00 </span>
            </p>
            <mat-slider
                min="1"
                max="60"
                step="1"
                [(ngModel)]="options.optionvalueHour"
                [thumbLabel]="true">
            </mat-slider>
        </div>
    
        <div class="pomodoroOptions__sliderContent">
            <p class="pomodoroOptions__title">Short Break</p>
            <p class="pomodoroOptions__time">
                <span> {{options.optionshortBreak}} : 00 </span>
            </p>
            <mat-slider
                min="1"
                max="60"
                step="1"
                [(ngModel)]="options.optionshortBreak"
                [thumbLabel]="true">
            </mat-slider>
        </div>
        <div class="pomodoroOptions__sliderContent">
            <p class="pomodoroOptions__title">Long Break</p>
            <p class="pomodoroOptions__time">
                <span> {{options.optionlongBreak}} : 00 </span>
            </p>
            <mat-slider
                min="1"
                max="60"
                step="1"
                [(ngModel)]="options.optionlongBreak"
                [thumbLabel]="true">
            </mat-slider>
        </div>
        <div class="pomodoroOptions__sliderContent">
            <p class="pomodoroOptions__title">Rounds</p>
            <p class="pomodoroOptions__time">
                <span> {{options.optionrounds}} : 00 </span>
            </p>
            <mat-slider
                min="1"
                max="12"
                step="1"
                [(ngModel)]="options.optionrounds"
                [thumbLabel]="true">
            </mat-slider>
        </div>
    
        <div class="pomodoroOptions__buttonContent mt20">
            <button
                class="btn btn--square btn--yellow"
                (click)="sendDataTime(options); activateHamburguerNav(true)">
                Start Pomodoro
            </button>
        </div>
    </section>


</article>