@import '../../../scss/main.scss';
.pomodoroOptions{
    color: $white;
    z-index: 1000;
    padding: 70px 10px 30px 10px;
    background-color: $pomodoro-1;
    &__sliderContent{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__buttonContent{
        text-align: center;
        justify-content: center;
    }
    &__title,
    &__time{
        width: 100%;
    }
    &__title{
        margin-bottom: 5px;
    }
    &__time{
        span{
            padding: 6px 10px;
            display: inline-block;
            @include fontSize(14);
            font-family: monospace;
            letter-spacing: -1px;
            background-color: $lBlack;
        }
    }
}