@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
/* Color Theme Swatches in Hex */

$white: #fff;

$pomodoro-1: #323E40;
$pomodoro-2: #F2AB27;
$pomodoro-3: #D97D0D;
$pomodoro-4: #732002;
$pomodoro-5: #D94D1A;

/* Color Theme Swatches in RGBA */
$pomodoro-1-rgba: rgba(49,62,63, 1);
$pomodoro-2-rgba: rgba(242,171,38, 1);
$pomodoro-3-rgba: rgba(216,125,13, 1);
$pomodoro-4-rgba: rgba(114,32,2, 1);
$pomodoro-5-rgba: rgba(216,76,26, 1);

/* Color Theme Swatches in HSLA */
$pomodoro-1-hsla: hsla(185, 12, 22, 1);
$pomodoro-2-hsla: hsla(39, 88, 55, 1);
$pomodoro-3-hsla: hsla(33, 88, 45, 1);
$pomodoro-4-hsla: hsla(16, 96, 22, 1);
$pomodoro-5-hsla: hsla(16, 78, 47, 1);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.title{
    margin: 0;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}